body {
    background: lightblue;
}
.container {
    font-size: 15px;
    font-family: serif;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: 250px;
    height: 250;
    border-radius: 1rem;
}
fieldset {
    border: 10px solid white;
    border-radius: 2rem; 
    padding: 10px; 
    margin: 10px;
    background: white;
    width: 200px;
  }
h3, p {
    text-align: center;
}
